<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Book Review</title>
<link crossorigin="anonymous"
	href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css"
	integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l"
	rel="stylesheet">
	<link
    href="https://cdn.datatables.net/1.10.25/css/dataTables.bootstrap4.min.css"
    rel="stylsheet">
</head>
<body>
	<nav class="navbar navbar-expand-lg navbar-light bg-light">
		<a class="navbar-brand" th:href="@{/}">Home</a>
		<button class="navbar-toggler" type="button" data-toggle="collapse"
			data-target="#navbarNav" aria-controls="navbarNav"
			aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>
		<div class="collapse navbar-collapse" id="navbarNav">
			<ul class="navbar-nav">
				<li class="nav-item active"><a class="nav-link" href="/">Home
						<span class="sr-only">(current)</span>
				</a></li>
				<li class="nav-item"><a class="nav-link" th:href="@{/author}">Authors</a>
				</li>
				<li class="nav-item"><a class="nav-link" href="@{/reviewer}">Reviewer</a>
				</li>
				<li class="nav-item"><a class="nav-link" href="@{/book}">Book</a>
				</li>
			</ul>
		</div>
	</nav>
	<div class="container">
		<div class="card">
			<div class="alert alert-danger" role="alert" th:if="${error != null}"
				th:text="${error}"></div>
			<div class="card-header">
				<h5 class="card-title">View Reviewer</h5>
			</div>
			<div class="card-body">
				<div class="form-group">
					<label for="email">Email address</label> <input type="email"
						class="form-control" id="email" th:field="${reviewer.email}"
						disabled>
				</div>
				<div class="form-group">
					<label for="name">Name</label> <input type="text"
						class="form-control" id="name" placeholder="Name"
						th:field="${reviewer.name}" disabled>
				</div>
				<div class="form-group">
					<label class="form-check-label" for="phone">Phone Number</label> <input
						type="tel" class="form-control" id="phone"
						placeholder="Phone Number" disabled th:field="${reviewer.phone}">
				</div>
				<a class="btn btn-primary" data-th-href="@{/reviewer}">Back to
					Reviewer List</a>
			</div>
		</div>
		<div class="card">
			<div class="card-header">
				<h5 class="card-title">Reviews</h5>
			</div>
			<div class="card-body" th:if="${error == null}">
				<table class="table table-striped" id="reviews" style="width: 100%"
					th:if="${reviewer.reviews != null}">
					<thead>
						<tr>
							<th scope="col">Novel Name</th>
							<th scope="col">Action</th>
						</tr>
					</thead>
					<tbody>
						<tr th:each="review : ${reviewer.reviews}">
							<td><a th:href="@{/review/view/} + ${review.novel.id} + @{/} + ${reviewer.id}"
								th:text="${review.novel.name}"></a></td>
							<td><a th:href="@{/review/edit/} + ${review.novel.id} + @{/} + ${reviewer.id}"
								class="btn btn-primary">Edit</a> <a
								th:href="@{/review/delete/} + ${review.novel.id} + @{/} + ${reviewer.id}" class="btn btn-danger">Delete</a></td>
						</tr>
					</tbody>
				</table>
				<a class="btn btn-primary"
					data-th-href="@{/review/new/} + ${reviewer.id}">Add New Review</a>
			</div>
		</div>
	</div>

	<script crossorigin="anonymous"
		integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
		src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
	<script crossorigin="anonymous"
		integrity="sha384-Piv4xVNRyMGpqkS2by6br4gNJ7DXjqk09RmUpJ8jgGtD7zP9yug3goQfGII0yAns"
		src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.bundle.min.js"></script>
	<script
		src="https://cdn.datatables.net/1.10.25/js/jquery.dataTables.min.js">
		
	</script>
	<script
		src="https://cdn.datatables.net/1.10.25/js/dataTables.bootstrap4.min.js"></script>
	<script>
		$("#reviewer").DataTable();
	</script>
</body>
</html>